/* You can add global styles to this file, and also import other style files */
* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'ultra';
    src: url(../public/assets/fonts/Ultra-Regular.ttf);
}
@font-face {
    font-family: 'playfair';
    src: url(../public/assets/fonts/PlayfairDisplay-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'nunito';
    src: url(../public/assets/fonts/Nunito-VariableFont_wght.ttf);
}
