<nav>
    <a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <div class="accueil container">
            <img class="imgs" src="assets/home.png" alt="">
            <div class="texts">Accueil</div>
        </div>
    </a>
    <a [routerLink]="['projets']">
      <div class="projets container">
        <img class="imgs" src="assets/computer.svg" alt="">
        <div class="texts">Projets</div>
    </div>
    </a>
    <a [routerLink]="['infos']">
      <div class="infos container">
        <img class="imgs" src="assets/info.svg" alt="">
        <div class="texts">Infos</div>
    </div>
    </a>
</nav>
