.container-card {
    display: flex;

    height: 100svh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: fit-content;
    padding: 20px;

    border-radius: 20px;
    background: #eb87ff;
    box-shadow: 0 7px 0 0 #f4bfff;
}

.id {
    width: 90%;
    height: 60px;
    padding: 20px;
    padding-left: 0;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.646);
    display: flex;
    align-items: center;
}

#age {
    width: 90%;
    height: 60px;
    padding: 20px;
    justify-content: right;

    display: flex;
    align-items: center;
}

#who {
    width: 200%;
    height: 60px;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.646);
    display: flex;
    align-items: center;
}
#pres {
    width: 85%;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.646);
    display: flex;
    align-items: center;
}

.social {
    padding-left: 30px;
    width: 100%;
    display: flex;
    justify-content: left;
}