@font-face {
    font-family: 'Franxurter fat';
    src: url(../assets/fonts/FranxurterTotallyFat-X3G4Z.ttf);

}
@font-face {
    font-family: 'Franxurter med';
    src: url(../assets/fonts/FranxurterTotallyMedium-gxwjp.ttf);

}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100svh;
    width: 100svw;
    display: flex;
    flex-direction: column;
}

.background {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 0;
}

header {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

#id-panel, #connect-panel, #inscript-panel {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Franxurter med';
    letter-spacing: .2rem;
    font-weight: 100;
    height: 300px;
    width: 500px;
    color: white;
    font-size: 3rem;
    background: #B87BBF;
    border-radius: 30px;
}

#id-panel.active {
    display: flex;
}

#connect-panel.active {
    display: flex;
}

#inscript-panel.active {
    display: flex;
}

form {
    width: 80%;
    font-size: 1.7rem;
    display: flex;
    flex-direction: column;
}

.names {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.names:nth-last-child {
    justify-content: flex-end;
}

.buttons {
    display: flex;
    gap: 30px;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
}

.logo {
    height: fit-content;
    margin-left: 20px;
}

.profile {
    height: fit-content;
    margin-right: 20px;
}

#top-left {
    position: absolute;
    height: auto;
    width: 25%;
    min-width: 235px;
}
#full-left {
    position: absolute;
    left: -100px;
    height: auto;
    width: 75%;
    min-width: 555px;
}
#right {
    position: absolute;
    right: 0px;
    height: auto;
    width: 75%;
    min-width: 555px;
}

.logo img {
    height: 100px;
    width: 330px;
}
.profile img {
    height: 50px;

}