@font-face {
    font-family: 'Franxurter fat';
    src: url(../assets/fonts/FranxurterTotallyFat-X3G4Z.ttf);

}
@font-face {
    font-family: 'Franxurter med';
    src: url(../assets/fonts/FranxurterTotallyMedium-gxwjp.ttf);

}
@font-face {
    font-family: 'Signika';
    src: url(../assets/fonts/Signika-VariableFont_GRAD\,wght.ttf);

}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100svh;
    width: 100svw;
    display: flex;
    flex-direction: column;
}

.background {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 0;
}

header {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.panel {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Franxurter med';
    letter-spacing: .2rem;
    font-weight: 100;
    height: 300px;
    width: 500px;
    color: white;
    font-size: 3rem;
    background: #B87BBF;
    border-radius: 30px;
    transition: 0.4s;
}

<<<<<<< HEAD
#registered {
    height: fit-content;
    max-width: 505px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    transition: 0.4s;
    position: relative;
}

#r-bg{
    z-index: 0;
    display: flex;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cheering {
    margin-top: 10px;
    font-family: 'Franxurter med';
    color: #B87BBF;
}

#icon_bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    z-index: 2;
    max-width: 550px;
    width: fit-content;
    
}

.icons {
    height: 0px;
    width: 0px;
    opacity: 0;
    padding: 0px; 
    transition: 0.4s;
}



.separator {
    width: 5px;
    height: 65px;
    background-color: rgba(255, 255, 255, 0.281);
    border-radius: 5px;
    margin: 0 15px 0 15px;
}

#icon_plus {
    height: 60px;
    width: 80px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar {
    position: absolute;
    width: 50px;
    height: 7px;
    border-radius: 5px;
    background-color: white;

}

#bar_one {
    rotate: 90deg;
    transition: 0.4s;
}
#bar_two {
    transition: 0.4s;
}
#bar_one.rotated {

    transform: rotate(270deg);
}
#bar_two.rotated2 {
    transform: rotate(360deg);
}

#more-icons {
    max-width: 550px;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    transition: 0.4s;
}

.maps {
    display: none;
}

.icons.visible {
    opacity: .5;
    height: 50px;
    width: 50px;
    padding: 15px; 
}
.icons.persistent {
    opacity: .5;
    height: 60px;
    width: 60px;
    padding: 15px; 
}

.icons.visible:hover {
    opacity: 1;
}
.icons.persistent:hover {
    opacity: 1;
}

/* #r-bg.unfolded {
    height: 500px;
} */




=======
#r-panel {
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.icons {
    height: 60px;
    opacity: .5;
    padding: 15px;
}

.icons:hover {
    opacity: 1;
}

>>>>>>> 3740ee793ddeaa36b513b720df6598a4decdec88
#id-panel.active {
    display: flex;
}

#connect-panel.active {
    display: flex;
}

#inscript-panel.active {
    display: flex;
}

form {
    width: 80%;
    font-size: 1.7rem;
    display: flex;
    flex-direction: column;
}

.names {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.names:nth-last-child {
    justify-content: flex-end;
}

.buttons {
    display: flex;
    gap: 30px;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
}

.logo {
    height: fit-content;
    margin-left: 20px;
}

.profile {
    height: fit-content;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#top-left {
    position: absolute;
    height: auto;
    width: 25%;
    min-width: 235px;
}
#full-left {
    position: absolute;
    left: -100px;
    height: auto;
    width: 75%;
    min-width: 555px;
}
#right {
    position: absolute;
    right: 0px;
    height: auto;
    width: 75%;
    min-width: 555px;
}

.logo img {
    height: 100px;
    width: 330px;
}
.profile img {
    height: 50px;

}